@media all and (min-width: 480px) {
    .Signup {
        padding: 60px 0;
    }

    .Signup form{
        margin: 20px auto;
        max-width: 340px;
        border: 1px solid #ccc;
        padding:80px;
        border-radius: 10px;
    }

    .Signup h3{
        text-align: center;
        margin: 0;
        line-height: 1;
        padding-bottom: 20px;
    }

    button {
        background-color: #006cbd;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius:10px;
        cursor: pointer;
        width: 100%;
      }
}